<html lang="es">

<head>
    <link rel="stylesheet" type="text/css" href="form.css">

</head>

 <body>

        <div id="contenedor">

            <div id="contenedorcentrado">
                <div id="login">
                    <form id="loginform" method="POST" action="/push_notification/">
                        {% csrf_token %}

                        <label>Título </label>
                        {{ form.title }}

                        <label>Info </label>
                        {{ form.text }}

                        <button type="submit" class="btn btn-primary">Enviar notificación</button>
                    </form>

                </div>
                <div id="derecho">
                    <div class="titulo">
                        Bienvenido
                    </div>
                    <hr>
                    <div class="pie-form">
                        <p>Simulador de servicio: Envio de notifiaciones a tu aplicación al detectar accidentes de tránsito:</p>
                        <hr>
                        <p>Hecho por:</p>
                        <ol>
                            <li>Angles Quiroz, Ana Lucia</li>
                            <li>Mestas Escarcena, Carlos Alberto</li>
                            <li>Quispe Yncarroque, Maribel Araceli</li>
                          </ol>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>